@model RecipeBox.Models.Tag

<h4>Add a new tag</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    <input type="submit" value="Add new tag" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all tags", "Index")</p>